<div class="jumbotron" id="archiveJumbotron">
  <h1>Journal Entries</h1>
</div>


<div class="container" id="archiveBody">
<div ng-controller="EntryController as ec">

  <nav class="navbar" id="archiveNavbar">
    <strong><a href="/entry">New Journal Entry</a></strong>
    <strong><a href="/geolocations">Locations</a></strong>
    <strong><a href="/wishlist">Future Travels Wishlist</a></strong>
  </nav>



  <div class="card" id="journalEntries" data-ng-init="ec.showEntries()">
    <strong><h2 id="journalEntriesHeader">Journal Entries</h2></strong>
    <br>
    <div class="col-sm-4" ng-repeat="data in ec.entries">
      Date: {{ data.date | date: "MMMM dd, yyyy" }}
      <br>
      City: {{ data.city }}
      <br>
      State: {{ data.state }}
      <br>
      Country: {{ data.country }}
      <br>
      Place: {{ data.place }}
      <br>
      {{ data.entry }}
      <br>
      Latitude: {{ data.latitude }}
      <br>
      Longitude: {{ data.longitude }}
      <br>
      <!-- {{ data.picture }} -->
      <img ng-src="{{ data.picture }}">
      <br>
      <button type="button" id="deleteButton" ng-click="ec.delete($index)">Delete Entry</button>
    </div>
  </div>
  </div>



</div>
