<header class="header" id="homeHeader"><strong><h1>Travelogue</h1></strong></header>

<div ng-controller="EntryController as ec" id="archiveBackgroundDiv">


  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-header">
      <ul class="nav navbar-nav">
        <li><a href="/home" class="homeNavbar">Home</a></li>
        <li><a href="/entry" class="homeNavbar">New Journal Entry</a></li>
        <li><a href="/archive" class="active-home">Journal Entries</a></li>
        <li><a href="/wishlist" class="homeNavbar">Wishlist</a></li>
      </ul>
    </div>
  </nav>


  <div class="container" class="card" id="journalEntries" data-ng-init="ec.showEntries()">
    <br>
    <div class="col-sm-3" ng-repeat="data in ec.entries">
      {{ data.date | date: "MMMM dd, yyyy" }}
      <br>
      {{ data.city }}
      <br>
      {{ data.state }}
      <br>
      {{ data.country }}
      <br>
      {{ data.place }}
      <br>
      {{ data.entry }}
      <br>
      {{ data.latitude }}
      <br>
      {{ data.longitude }}
      <br>
      <a href="{{ data.picture }}">
      <img ng-src="{{ data.picture }}"></a>
      <br>
      <br>
      <button class="btn btn-default btn-xs" id="deleteButton" ng-click="ec.delete($index)">Delete Entry</button>
    </div>
  </div>


<div id="archiveFooter">


</div>

</div>
