<div class="jumbotron" id="archiveJumbotron">
  <h1>Journal Entries</h1>
</div>


<div ng-controller="EntryController as ec" id="archiveBackgroundDiv">
<div class="container" id="archiveBody">

  <nav class="navbar" id="archiveNavbar">
    <strong><a href="/entry">New Journal Entry</a></strong>
    <strong><a href="/geolocations">Locations</a></strong>
    <strong><a href="/wishlist">Future Travels Wishlist</a></strong>
  </nav>



  <div class="card" id="journalEntries" data-ng-init="ec.showEntries()">
    <br>
    <div class="col-sm-3" ng-repeat="data in ec.entries">
      {{ data.date | date: "MMMM dd, yyyy" }}
      <br>
      {{ data.city }}
      <br>
      {{ data.state }}
      <br>
      {{ data.country }}
      <br>
      {{ data.place }}
      <br>
      {{ data.entry }}
      <br>
      {{ data.latitude }}
      <br>
      {{ data.longitude }}
      <br>
      <!-- {{ data.picture }} -->
      <img ng-src="{{ data.picture }}">
      <br>
      <br>
      <button class="btn btn-default btn-xs" id="deleteButton" ng-click="ec.delete($index)">Delete Entry</button>
    </div>
  </div>
  </div>

<div id="archiveFooter">
<!-- <footer></footer> -->
</div>

</div>
