<div class="jumbotron" id="entryJumbotron">
  <h1>Journal Entry</h1>
</div>


<div ng-controller="EntryController as ec">





<form class="form-horizontal" role="form">

<div class="form-group" id="entryBody">

  <p>Journal Entry Date</p>
  <input type="date" id="entryDate" value="2017-07-17" ng-model="ec.dateInput">

  <input type="text" placeholder="city" id="city" ng-model="ec.cityInput">

  <input type="text" placeholder="place" id="place" ng-model="ec.placeInput">

  <textarea rows="8" cols="80" id="textarea" ng-model="ec.entryInput"></textarea>








<button ng-click="ec.getLocation()">Get Position</button>

<div id="mapholder" ng-map="ec.showPosition()"></div>





  <button type="button" id="submit" ng-click="ec.journalEntry()">Save</button>


</form> // end form

</div> // end body div





</div> // end Entry Controller //
