<header class="header" id="homeHeader"><strong><h1>Travelogue</h1></strong></header>

<div ng-controller="EntryController as ec" class="entryBackgroundDiv">


  <nav class="navbar navbar-inverse navbar-static-top" id="entryNavbar">
    <div class="navbar-header">
      <ul  class="nav navbar-nav">
        <li><a href="/home" class="homeNavbar">Home</a></li>
        <li><a href="/entry" class="active-home">New Journal Entry</a></li>
        <li><a href="/archive" class="homeNavbar">Journal Entries</a></li>
        <li><a href="/wishlist" class="homeNavbar">Wishlist</a></li>
      </ul>
    </div>
  </nav>


  <div class="container" class="form-group" id="entryBody">

  <form>
  <input type="date" class="form-control" id="date" value="2017-07-17" ng-model="ec.dateInput">
  <br>
  <input type="text" class="form-control" placeholder="city" id="city" ng-model="ec.cityInput">
  <br>
  <input type="text" class="form-control" placeholder="state" id="state" ng-model="ec.stateInput">
  <br>
  <input type="text" class="form-control" placeholder="country" id="country" ng-model="ec.countryInput">
  <br>
  <input type="text" class="form-control" placeholder="place" id="place" ng-model="ec.placeInput">
  <br>
  <br>
  <textarea rows="8" cols="80" class="form-control" placeholder="journal text" id="textarea" ng-model="ec.entryInput"></textarea>
  <br>
  <br>


  <button class="btn btn-block btn-md" ng-click="ec.getLocation()">Map Location</button>
  <br>
  <div id="mapholder" ng-map="ec.showPosition()"></div>
  <br>


  <button class="btn btn-block btn-md" ng-click="ec.showPicker()">Upload Photo</button>
  <div ng-repeat="photo in ec.img">
  <img ng-src="{{ photo.imgUrl }}" class="images">
  </div>
  <br>
  <br>

  <button class="btn btn-block btn-md" id="submit" ng-click="ec.journalEntry()">Save Journal Entry</button>
  <br>
  </form>


</div>

<div id="entryFooter">
  <footer></footer>
</div>

</div>
<!-- </div> -->
