// The getCurrentPosition() method is used to return the user's position.
//
// The example below returns the latitude and longitude of the user's position:

*** Geolocation requests are sent using POST to the following URL:

https://www.googleapis.com/geolocation/v1/geolocate?key=YOUR_API_KEY

****    API Key:  AIzaSyC3qzUlM6UjKVXCcyFCRbp843hcrzAf6CE    ****

<!DOCTYPE html>
<html>
<body>

<p>Click the button to get your coordinates.</p>

<button onclick="getLocation()">Try It</button>

<p id="demo"></p>

<script>
var x = document.getElementById("demo");

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}

function showPosition(position) {
    x.innerHTML = "Latitude: " + position.coords.latitude +
    "<br>Longitude: " + position.coords.longitude;
}
</script>

</body>
</html>


// Example explained:
//
// Check if Geolocation is supported
// If supported, run the getCurrentPosition() method. If not, display a message
// to the user
// If the getCurrentPosition() method is successful, it returns a coordinates
// object to the function specified in the parameter (showPosition)
// The showPosition() function outputs the Latitude and Longitude
// The example above is a very basic Geolocation script, with no error handling.



Displaying the Result in a Map
To display the result in a map, you need access to a map service, like Google Maps.

In the example below, the returned latitude and longitude is used to show the location in a Google Map (using a static image):

Example

function showPosition(position) {
    var latlon = position.coords.latitude + "," + position.coords.longitude;

    var img_url = "https://maps.googleapis.com/maps/api/staticmap?center=
    "+latlon+"&zoom=14&size=400x300&sensor=false&key=YOUR_:KEY";

    document.getElementById("mapholder").innerHTML = "<img src='"+img_url+"'>";
}
