<header class="header" id="homeHeader"><strong><h1>Travelogue</h1></strong></header>

<div class="homeBackgroundDiv">


<div ng-controller="HomeController as hc">


  <nav class="navbar" id="homeNavbar">
    <strong><a href="/home" class="active-home">Home</a></strong>
    <strong><a href="/entry">New Journal Entry</a></strong>
    <strong><a href="/archive">Journal Entries</a></strong>
    <strong><a href="/wishlist">Future Travels Wishlist</a></strong>
  </nav>


<div class="homeBody">


<h2>Travelogue provides a simple tool for logging your travel experience</h2>
<br>
<br>

<h3>Create new entries.  View past entries.  Plan for future travels.</h3>

<h3>Leave the paper behind.</h3>


</div>






</div>


</div>
