<!-- <div ng-include="'/views/navbar.html'"></div> -->
<div class="homeBackgroundDiv">

  <div ng-controller="HomeController as hc">

    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="navbar-header">
        <ul class="nav navbar-nav">
          <li><a href="/home" class="active-home">Home</a></li>
          <li><a href="/entry" class="homeNavbar">New Journal Entry</a></li>
          <li><a href="/archive" class="homeNavbar">Journal Entries</a></li>
          <li><a href="/wishlist" class="homeNavbar">Wishlist</a></li>
        </ul>
      </div>
    </nav>

    <div class="homeBody">


      <h2>Travelogue provides a simple tool for logging your travel experience</h2>
      <br>
      <br>

      <h3>Create new entries.  View past entries.  Plan for future travels.</h3>

      <h3>Leave the paper behind.</h3>


    </div>


  </div>


</div>
