<header class="header" id="loginHeader"><strong><h1>Travelogue</h1></strong></header>

<div class="loginBackgroundDiv">
<div ng-controller="LoginController as lc" ng-show="lc.loggedIn">


<div class="loginDiv">
    <div ng-show="lc.showRegisterDiv" class="register">
      <h2 class="loginRegister">travel the world, log the experience</h2>
      <input type="text" placeholder="username" ng-model="lc.nameInput">
      <input type="password" placeholder="password" ng-model="lc.passwordInput">
      <button class="btn btn-primary btn-xs" class="btn btn-primary btn-sm" ng-click="lc.logIn()">log in</button>
      <p ng-click="lc.toggleLogin()"><strong><a href="#">register</a></strong></p>
    </div>

    <div ng-hide="lc.showRegisterDiv" class="register">
      <h2 class="loginRegister">travel the world, log the experience</h2>
      <input type="text" placeholder="username" ng-model="lc.registerNameInput">
      <input type="password" placeholder="password" ng-model="lc.registerPasswordInput">
      <button class="btn btn-primary btn-xs" ng-click="lc.register()">register</button>
      <p ng-click="lc.toggleLogin()"><strong></strong><a href="#">log in</a></strong></p>
    </div>

    <div ng-show="lc.hasAccess">
      <button class="btn btn-default" ng-click="lc.logOut()">log out</button>
    </div>
</div>


</div>
</div>

<footer><h3>Not all those who wander are lost</h3></footer>
