<div class="jumbotron">

<h1>Travel Journal</h1>

</div>

<div ng-controller="LoginController as lc" ng-show="lc.loggedIn">

    <div ng-show="lc.showRegisterDiv" class="register">
      <h2>Login</h2>
      <img src="https://img1.etsystatic.com/124/0/8787852/il_340x270.1023802847_s70r.jpg">
      <input type="text" placeholder="username" ng-model="lc.nameInput">
      <input type="password" placeholder="password" ng-model="lc.passwordInput">
      <button type="button" class="btn btn-default" ng-click="lc.logIn()">Log In</button>
      <p ng-click="lc.toggleLogin()"><a href="#">Register</a></p>
    </div>

    <div ng-hide="lc.showRegisterDiv" class="register">
      <h2>Register</h2>
      <input type="text" placeholder="username" ng-model="lc.registerNameInput">
      <input type="password" placeholder="password" ng-model="lc.registerPasswordInput">
      <button class="btn btn-default" ng-click="lc.register()">Register</button>
      <p ng-click="lc.toggleLogin()"><a href="#">Log In</a></p>
    </div>

    <div ng-show="lc.hasAccess">
      <button class="btn btn-default" ng-click="lc.logOut()">Log Out</button>
    </div>

</div>

<footer></footer>
