<header class="header" id="loginHeader"><strong><h1>Travelogue</h1></strong></header>

<div class="loginBackgroundDiv">
  <div ng-controller="LoginController as lc" ng-show="lc.loggedIn">


    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="navbar-header">
        <div class="loginDiv">
          <div ng-show="lc.showRegisterDiv" class="register">
            <h3 class="loginRegister">travel the world, log the experience</h3>
            <input type="text" placeholder="username" ng-model="lc.nameInput">
            <input type="password" placeholder="password" ng-model="lc.passwordInput">
            <button class="btn btn-primary btn-xs" class="btn btn-primary btn-sm" ng-click="lc.logIn()">log in</button>
            <p <ng-click="lc.toggleLogin()"><a href="#">register</a></p></p>
          </div>

          <div ng-hide="lc.showRegisterDiv" class="register">
            <h3 class="loginRegister">travel the world, log the experience</h3>
            <input type="text" placeholder="username" ng-model="lc.registerNameInput">
            <input type="password" placeholder="password" ng-model="lc.registerPasswordInput">
            <button class="btn btn-primary btn-xs" ng-click="lc.register()">register</button>
            <p ng-click="lc.toggleLogin()"><a href="#">log in</a></strong></p>
          </div>

          <div ng-show="lc.hasAccess">
            <button class="btn btn-default" ng-click="lc.logOut()">log out</button>
          </div>
        </div>
      </div>
    </nav>


  </div>
</div>

<footer>
  <h3></h3></footer>

<!-- Not all those who wander are lost -->
