<div class="jumbotron" id="wishlistJumbotron">
  <h1>Future Travels Wishlist</h1>
</div>


<div ng-controller="WishlistController as wc" id="wishlistBackgroundDiv">
  <div class="container" id="wishlistBody">

  <nav class="navbar" id="archiveNavbar">
    <strong><a href="/home">Home</a></strong>
    <strong><a href="/entry">New Journal Entry</a></strong>
    <strong><a href="/archive">Journal Entries</a></strong>
  </nav>



  <div class="container" class="form-group" id="wishlistBody">

  <form>
  <input type="text" class="form-control" placeholder="city" id="city" ng-model="wc.cityInput">
  <br>
  <input type="text" class="form-control" placeholder="state" id="state" ng-model="wc.stateInput">
  <br>
  <input type="text" class="form-control" placeholder="country" id="country" ng-model="wc.countryInput">
  <br>
  <input type="text" class="form-control" placeholder="place" id="place" ng-model="wc.placeInput">
  <br>
  <!-- <img ng-src="ec.picture" id="picture"> -->
  <br>
  <textarea rows="8" cols="80" class="form-control" placeholder="wishlist info" id="textarea" ng-model="wc.wishInput"></textarea>
  <br>
  <br>


  <button class="btn btn-block btn-md" ng-click="wc.showPicker()">Upload Photo</button>
  <div ng-repeat="photo in wc.img">
  <img ng-src="{{ photo.imgUrl }}" class="images">
  </div>
  <br>
  <br>

  <button class="btn btn-block btn-md" id="submit" ng-click="wc.wishlistEntry()">Save Wishlist Entry</button>
  <br>
  </form>


  <div class="card" id="wishlistEntries" data-ng-init="wc.showWishlist()">
    <strong><h2 id="wishlistHeader">Wishlist Entries</h2></strong>
    <br>
    <div class="col-sm-3" ng-repeat="data in wc.wishlist">
      {{ data.city }}
      <br>
      {{ data.state }}
      <br>
      {{ data.country }}
      <br>
      {{ data.place }}
      <br>
      {{ data.entry }}
      <br>
      <!-- {{ data.picture }} -->
      <img ng-src="{{ data.picture }}">
      <br>
      <button class="btn btn-default btn-xs" id="deleteButton" ng-click="wc.delete($index)">Delete Entry</button>
    </div>
  </div>
  </div>

  <div id="wishlistFooter">
  <footer></footer>
  </div>

  </div>
