header {
  text-align: center;
  text-shadow: 2px 2px OrangeRed;
  letter-spacing: 2px;
  background-color: Coral;
  font-family: Courier;
}

.register {
  text-align: center;
  background-color: PaleTurquoise;
  font-family: Courier;
  height: 600px;
}
