#loginJumbotron {
  text-align: center;
  text-shadow: 3px 3px AliceBlue;
  font-family: Courier;
  border-style: groove;
  background-color: DarkSlateGrey !important;*/
}

#entryJumbotron {
  text-align: center;
  text-shadow: 2px 2px LightGrey;
  font-family: Courier;
  border-style: groove;
  background-color: Tomato !important;*/
}

#archiveJumbotron {
  text-align: center;
  text-shadow: 2px 2px Peru;
  font-family: Courier;
  border-style: groove;
  background-color: Purple !important;*/
}

#geolocationsJumbotron {
  text-align: center;
  text-shadow: 2px 2px Teal;
  font-family: Courier;
  border-style: groove;
  background-color: Yellow !important;*/
}

header {
  text-align: center;
  letter-spacing: 2px;
  background-color: Coral;
  font-family: Courier;
  position: fixed;
}

.loginDiv {
  border-style: groove;
}

.container {
  text-align: center;
}

.register {
  text-align: center;
  background-color: PaleTurquoise;
  font-family: Courier;
  height: 600px;
}

#entryBody {
  background-color: LightCyan;
  border-style: groove;
  padding-top: 50px;
  height: 600px;
  vertical-align: middle;
  /*position: fixed;*/
  bottom: 0;
}

#entryDate {

}
